.tags-input{
    border: 1px solid #DADCE0;
    border-radius: 10px;
    min-height: 6.5rem;
}

  .tag-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
    border: none;
    border-bottom: 1px solid #DADCE0;
    border-radius: 5px 5px 0 0;
    padding: 10px;
  }
  .tag {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    height: 25px;
    margin: 2px 5px 2px 0px;
    color: #1C4980;
    background-color: #1c89c960;
  }
  
  .tag span {
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-new{
    width: 100%;
    padding: 10px 10px;
    border: none;
    background-color: #fdfdfd;
    color: #1C4980;
    outline: none;
  }
  